
/* body text  */
body{
  background-color: rgb(251, 245, 233);
  max-width: 1600px;
  margin: auto;
  text-align: center;
}


/* top navigation */
.TOP_NAV {
overflow: hidden;
display: flex;
background-color:rgb(0, 0, 0);
text-align: center;
justify-content:left;
list-style: none;
width: 100%;
min-width: 280px;
margin-top: 0em ;
}

/* Style the links inside the navigation bar */
.TOP_NAV a {
  float: left;
  list-style-type: none;
  text-align: center;
  padding-top: clamp(0.5em,1%,1.5em);
  padding-bottom: clamp(0.5em,1%,1.5em);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.6em;
  font-family: 'Calibri', sans-serif;
  color:white;
  cursor: pointer;
  width: 25%;
}

/* Change the color of links when hovering */
.TOP_NAV a:hover {
  background-color:white;
  color: black;
}

/* Change the color to the active/current link */
.TOP_NAV a.active {
  background-color: white;
  color: black;
}


/* tags  */
h1{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 0px 0px;
}
h2{
  color:black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;


}  

h3{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
}

h4{
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
}

h5{
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 26px;
}

p{
  color:black;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size: 21px;
  max-width: 65%;
  margin: 0 auto;
  margin-bottom: 10px;

}

/* body */
.BODY_container{
  margin: auto;
}


/* chart appearances */
.chart{
    background-color: rgb(251, 245, 233);
    width: auto;
    margin: auto ;
    border-width: 0px;
    border-left: 0px;
    border-style: none;
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
    display: inline-block;
    align-items: center;
    justify-content: center;   

    
}

/* changing individual charts because they don't centre properly */
#Chart1{
  margin: 0 auto;
  width:auto;

}

#Chart2{
  margin: 0 auto;
  width:510px;

}

#Chart3{
  margin: 0 auto;
  width: 570px;
display: inline-block;
margin-left: 2%;
margin-top: 1%
}

#Chart4{
  margin: 0 auto;
  width: 550px;
  display: inline-block;
  margin-left: 0%;

}

#Chart5{
width: 600px; 
}

#Chart6{
  width: 720px; 
  }

#Chart7{
  margin: 0 auto;
  width: 467px;
display: inline-block;
margin-left: 2%;
margin-top: 1%    
}

#Chart8{
  margin: 0 auto;
  width: 465px;
  display: inline-block;
  margin-left: 2%;        
}


/* Mobile Phone Fix */
@media (max-width: 600px) {
    body{
      max-width: 480px;
      margin: 0 auto;
      padding: 0 20px 20px 20px;
    }
  
    
    .chart{
        width:auto;
        margin: 0px 0px 0pc 20px ;
        border-width: 2px;
        border-left: 2px;
        border-style: none;
        
    }

    #Chart1{
      margin: 0 auto;
      width:auto;
      display: block;

    }
    
    #Chart2{
      margin: 0 auto;
      width:auto;
      display: block;

    }
    #Chart3{
      margin: 0 auto;
      width:auto;
      display: block;
    }

    #Chart4{
      margin: 0 auto;
      width:auto;
      display: block;
    
    }
    
    #Chart5{
      margin: 0 auto;
      width:auto;
      display: block;
    
    }

    #Chart6{
      margin: 0 auto;
      width:auto;
      display: inline-block;
    
    }

    #Chart7{
      margin: 0 auto;
      width:auto;
      display: block;
    
    }

    #Chart8{
      margin: 0 auto;
      width:auto;
      display: block;
    
    }

  h1{
      font-size: 32px;
  }
  h2{
    font-size: 22px;
  
  
  }  
  
  h3{
    font-size: 28px;
    margin: 8px 0px;
  }
  
  h4{
    font-size: 21px;
  }
  
  h5{
    font-size: 14px;
  }
  
  p{
    font-size: 10px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  
  }

  .TOP_NAV a {
    font-size:9px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;  
  grid-gap: 0px;  
  justify-items: center;  
  margin: auto;
  max-width: 900px;
  width: 5000px;
}